@import '~antd/dist/antd.css';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size:16px;
}
a, a:visited {
  text-decoration: none !important;
}
#main-app {
  height: 100vh; 
  overflow: hidden;
}
#main-app .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

#main-app .trigger:hover {
  color: #108ee9;
}

#main-app .logo, #main-app .small-logo {
  height: 32px;
  color:white;
  text-align: center;
  font-size:20px;
  margin: 16px;
}
#main-app .small-logo {
  display: none;
}
#main-app .ant-layout-sider-collapsed .small-logo {
  display: block;
}
#main-app .ant-layout-sider-collapsed .logo {
  display: none;
}
.ant-menu-vertical .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
  font-size: 14px;
  line-height: 50px;
  height: 50px;
}
.loader-container {
  text-align: center;
  margin:50px;
}

.section-title {
  border-bottom: 1px solid #e9e9e9;
  padding-bottom:10px;
}
.section-body {
  margin-top:50px;
}
.see-all {
  float: right;
  font-size: 0.8em;
  cursor: pointer;
  position: relative;
  top: 17px;
  color: #ccc;
}


.mycard-image {
  position: relative;
}
.mycard-image img {
  max-height:300px;
}
.mycard-title {
    position: absolute;
    color: white;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    padding: 15px;
}
.mycard-title h3 {
  color:white;
}
.mycard-desc {
  padding: 10px 15px;
}
.arrow {
  position: absolute;
  top: 110px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  z-index: 1;
}
.arrow-right {
  right: 18px;
}
.arrow-left {
  left:10px;
}
.slick-list {
  max-height: 350px;
}
#single-movie img{
  max-width: 100%;
}
#single-movie .poster {
  width:95%;
}
.small-text {
  font-size: 0.9em;
}
.movie-meta {
  margin-top:10px;
}
.movie-meta>span {
  font-size:0.9em;
  padding-right: 8px;
  border-right: 1px solid #ccc;
  margin-right: 8px;
}
.movie-meta>span:last-child {
  border:none;
}
.section-body p {
  text-align: justify;
}
